apps/coap/tools/nodered/flows_linux.json
[{"id":"ff82d526.14909","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2cd49706.33e618","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"20a67e7.8751882","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"85172ca8.893c98","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"611856df.d640d","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"a1aa05fd.ca052","type":"ui_group","z":"","name":"Default","tab":"611856df.d640d","order":11,"disp":false,"width":"3"},{"id":"6ec51810.0404a","type":"ui_group","z":"","name":"1st Floor, East Wing","tab":"611856df.d640d","order":2,"disp":true,"width":"4"},{"id":"9d4da1e9.3d1308","type":"ui_group","z":"","name":"2nd Floor, West Wing","tab":"611856df.d640d","order":3,"disp":true,"width":"4"},{"id":"be0be617.24b19","type":"ui_group","z":"","name":"Toggle LED 1","tab":"611856df.d640d","order":8,"disp":true,"width":"3"},{"id":"f8054a14.60d12","type":"ui_group","z":"","name":"1st Floor, West Wing","tab":"611856df.d640d","order":1,"disp":true,"width":"4"},{"id":"e6b90f3f.70ce8","type":"ui_group","z":"","name":"2nd Floor, East Wing","tab":"611856df.d640d","order":4,"disp":true,"width":"4"},{"id":"d72cdeec.b135f","type":"ui_group","z":"","name":"3rd Floor, West Wing","tab":"611856df.d640d","order":5,"disp":true,"width":"4"},{"id":"2ba1f489.6ae244","type":"ui_group","z":"","name":"3rd Floor, East Wing","tab":"611856df.d640d","order":6,"disp":true,"width":"4"},{"id":"ca222f32.327218","type":"ui_tab","z":"","name":"Observe (Floor 3, West Wing)","icon":"dashboard","order":3},{"id":"7de3a149.e24cd8","type":"ui_group","z":"","name":"Observe Client 1 (F3, WW)","tab":"ca222f32.327218","order":2,"disp":true,"width":"6"},{"id":"e7d18005.66d388","type":"ui_group","z":"","name":"Observe Client 2 (F3, WW)","tab":"ca222f32.327218","order":3,"disp":true,"width":"6"},{"id":"b7e5072d.5f2fd8","type":"ui_group","z":"","name":"Group 3","tab":"ca222f32.327218","order":1,"disp":false,"width":"6"},{"id":"39318099.6cc66","type":"ui_group","z":"","name":"Toggle LED 2","tab":"611856df.d640d","order":9,"disp":true,"width":"3"},{"id":"e65cfb35.83e0e","type":"ui_group","z":"","name":"Toggle Fan","tab":"611856df.d640d","order":10,"disp":true,"width":"3"},{"id":"a38f5d87.d88de8","type":"exec","z":"ff82d526.14909","command":"coap-client -P 172.16.191.2 -T abcd coap://sensor1.floor1.east.building6/a/A2","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Light, Floor 1, East Wing","x":350,"y":480,"wires":[["811eb28f.972e08"],[],[]]},{"id":"811eb28f.972e08","type":"function","z":"ff82d526.14909","name":"Parse coap client output","func":"var str;\n\nvar tmp = msg.payload.split('\\n');\n\ntmp[1] = 1000 - tmp[1];\n\nvar newMsg = { payload: tmp[1] };\nreturn newMsg;","outputs":1,"noerr":0,"x":670,"y":500,"wires":[["1f4c30c2.486677"]]},{"id":"e3d47d34.98b06","type":"exec","z":"ff82d526.14909","command":"coap-client -P 172.16.191.2 -T abcd coap://sensor1.floor1.east.building6/a/A1","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Inside Temperature, Floor 1, East Wing","x":330,"y":520,"wires":[["6100ce90.3fe4"],[],[]]},{"id":"6100ce90.3fe4","type":"function","z":"ff82d526.14909","name":"Parse coap client output","func":"var str;\n\nvar tmp = msg.payload.split('\\n');\n\ntmp[1] = 1000 - tmp[1];\n\nvar newMsg = { payload: tmp[1] };\nreturn newMsg;","outputs":1,"noerr":0,"x":690,"y":540,"wires":[["ce4b89db.33e558"]]},{"id":"d0f89aed.ccdb58","type":"exec","z":"ff82d526.14909","command":"coap-client -P 172.16.191.2 -T abcd coap://sensor1.floor1.east.building6/a/A0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Outside Temperature, Floor 1, East Wing","x":350,"y":560,"wires":[["6ce039e6.236c18"],[],[]]},{"id":"6ce039e6.236c18","type":"function","z":"ff82d526.14909","name":"Parse coap client output","func":"var str;\n\nvar tmp = msg.payload.split('\\n');\n\ntmp[1] = 1000 - tmp[1];\n\nvar newMsg = { payload: tmp[1] };\nreturn newMsg;","outputs":1,"noerr":0,"x":690,"y":580,"wires":[["f251c2fc.8e1ea8"]]},{"id":"31a9de50.bb2d7a","type":"exec","z":"ff82d526.14909","command":"coap-client -P 172.16.191.2 -T abcd coap://sensor1.floor2.west.building6/a/A2","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Light, Floor 2, West Wing","x":450,"y":860,"wires":[["a0d15baf.64bd5"],[],[]]},{"id":"10fe940.5de326c","type":"exec","z":"ff82d526.14909","command":"coap-client -P 172.16.191.2 -T abcd coap://sensor1.floor2.west.building6/a/A1","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Inside Temperature, Floor 2, West Wing","x":400,"y":920,"wires":[["770ef2a1.6634ac"],[],[]]},{"id":"1ade2417.a264ec","type":"exec","z":"ff82d526.14909","command":"coap-client -P 172.16.191.2 -T abcd coap://sensor1.floor2.west.building6/a/A0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Outside Temperature, Floor 2, West Wing","x":440,"y":980,"wires":[["ebdab3de.c1b388"],[],[]]},{"id":"a0d15baf.64bd5","type":"function","z":"ff82d526.14909","name":"Parse coap client output","func":"var str;\n\nvar tmp = msg.payload.split('\\n');\n\ntmp[1] = 1000 - tmp[1];\n\nvar newMsg = { payload: tmp[1] };\nreturn newMsg;","outputs":1,"noerr":0,"x":730,"y":860,"wires":[["c0008aab.620bd"]]},{"id":"770ef2a1.6634ac","type":"function","z":"ff82d526.14909","name":"Parse coap client output","func":"var str;\n\nvar tmp = msg.payload.split('\\n');\n\ntmp[1] = 1000 - tmp[1];\n\nvar newMsg = { payload: tmp[1] };\nreturn newMsg;","outputs":1,"noerr":0,"x":730,"y":920,"wires":[["2df7769b.b0eb62"]]},{"id":"ebdab3de.c1b388","type":"function","z":"ff82d526.14909","name":"Parse coap client output","func":"var str;\n\nvar tmp = msg.payload.split('\\n');\n\ntmp[1] = 1000 - tmp[1];\n\nvar newMsg = { payload: tmp[1] };\nreturn newMsg;","outputs":1,"noerr":0,"x":730,"y":980,"wires":[["b491ca3f.358878"]]},{"id":"1f4c30c2.486677","type":"ui_text","z":"ff82d526.14909","group":"6ec51810.0404a","order":1,"width":0,"height":0,"name":"","label":"Light Level","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":500,"wires":[]},{"id":"5bae39c1.c0d19","type":"ui_button","z":"ff82d526.14909","name":"","group":"9d4da1e9.3d1308","order":8,"width":"3","height":"1","passthru":true,"label":"Refresh","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":100,"y":780,"wires":[["31a9de50.bb2d7a","10fe940.5de326c","1ade2417.a264ec"]]},{"id":"ce4b89db.33e558","type":"ui_text","z":"ff82d526.14909","group":"6ec51810.0404a","order":2,"width":0,"height":0,"name":"","label":"Room Temp.","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":540,"wires":[]},{"id":"f251c2fc.8e1ea8","type":"ui_text","z":"ff82d526.14909","group":"6ec51810.0404a","order":3,"width":0,"height":0,"name":"","label":"Heater Temp.","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":580,"wires":[]},{"id":"c0008aab.620bd","type":"ui_text","z":"ff82d526.14909","group":"9d4da1e9.3d1308","order":1,"width":0,"height":0,"name":"","label":"Light Level","format":"{{msg.payload}}","layout":"row-spread","x":990,"y":920,"wires":[]},{"id":"aca23a3.ec9f448","type":"ui_switch","z":"ff82d526.14909","name":"2F/WW LED 1 Toggle","label":"Toggle LED 1","group":"9d4da1e9.3d1308","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor2.west.building6/a/D4 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor2.west.building6/a/D4 -e 1","offvalueType":"str","officon":"","offcolor":"","x":320,"y":1120,"wires":[["dbab8195.783748","31a9de50.bb2d7a"]]},{"id":"dbab8195.783748","type":"exec","z":"ff82d526.14909","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":630,"y":1120,"wires":[[],[],[]]},{"id":"b491ca3f.358878","type":"ui_text","z":"ff82d526.14909","group":"9d4da1e9.3d1308","order":3,"width":0,"height":0,"name":"","label":"Heater Temp.","format":"{{msg.payload}}","layout":"row-spread","x":1000,"y":1000,"wires":[]},{"id":"2df7769b.b0eb62","type":"ui_text","z":"ff82d526.14909","group":"9d4da1e9.3d1308","order":2,"width":0,"height":0,"name":"","label":"Room Temp.","format":"{{msg.payload}}","layout":"row-spread","x":990,"y":960,"wires":[]},{"id":"13227cf9.b2c493","type":"ui_button","z":"ff82d526.14909","name":"","group":"6ec51810.0404a","order":8,"width":"3","height":"1","passthru":true,"label":"Refresh","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":80,"y":520,"wires":[["a38f5d87.d88de8","e3d47d34.98b06","d0f89aed.ccdb58"]]},{"id":"3e7c9e5a.977e92","type":"ui_button","z":"ff82d526.14909","name":"","group":"a1aa05fd.ca052","order":5,"width":"3","height":"1","passthru":false,"label":"Refresh all","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":70,"y":960,"wires":[["13227cf9.b2c493","5bae39c1.c0d19","b8d8ab50.c91558","e9b34201.a9f8e8","28b2bce0.ea1eac","e8b47b8b.2a2638"]]},{"id":"238aa908.6d5a8e","type":"ui_switch","z":"ff82d526.14909","name":"1F/EW LED 1 Toggle","label":"Toggle LED 1","group":"6ec51810.0404a","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor1.east.building6/a/D4 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor1.east.building6/a/D4 -e 1","offvalueType":"str","officon":"","offcolor":"","x":290,"y":700,"wires":[["ff2cf8f2.ea6d6","a38f5d87.d88de8"]]},{"id":"ff2cf8f2.ea6d6","type":"exec","z":"ff82d526.14909","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":530,"y":700,"wires":[[],[],[]]},{"id":"28d4aade.e595d6","type":"ui_switch","z":"ff82d526.14909","name":"Toggle LED Building","label":"Building","group":"be0be617.24b19","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://building6/a/D4 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://building6/a/D4 -e 1","offvalueType":"str","officon":"","offcolor":"","x":220,"y":2700,"wires":[["8d378900.614ca8"]]},{"id":"8d378900.614ca8","type":"exec","z":"ff82d526.14909","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":630,"y":2720,"wires":[[],[],[]]},{"id":"61683f9c.154028","type":"ui_switch","z":"ff82d526.14909","name":"Toggle LED Floor 1","label":"Floor 1","group":"be0be617.24b19","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://floor1.building6/a/D4 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://floor1.building6/a/D4 -e 1","offvalueType":"str","officon":"","offcolor":"","x":220,"y":2740,"wires":[["8d378900.614ca8"]]},{"id":"8228b8ff.9ce51","type":"ui_switch","z":"ff82d526.14909","name":"Toggle LED Floor 2","label":"Floor 2","group":"be0be617.24b19","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://floor2.building6/a/D4 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://floor2.building6/a/D4 -e 1","offvalueType":"str","officon":"","offcolor":"","x":220,"y":2780,"wires":[["8d378900.614ca8"]]},{"id":"5c1a10b0.97f608","type":"ui_switch","z":"ff82d526.14909","name":"Toggle LED Floor 3","label":"Floor 3","group":"be0be617.24b19","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://floor3.building6/a/D4 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://floor3.building6/a/D4 -e 1","offvalueType":"str","officon":"","offcolor":"","x":220,"y":2820,"wires":[["8d378900.614ca8"]]},{"id":"581612cd.6944f4","type":"ui_switch","z":"ff82d526.14909","name":"Toggle LED West","label":"West Wing","group":"be0be617.24b19","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://west.building6/a/D4 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://west.building6/a/D4 -e 1","offvalueType":"str","officon":"","offcolor":"","x":210,"y":2860,"wires":[["8d378900.614ca8"]]},{"id":"3a9d710f.4ca8fe","type":"ui_switch","z":"ff82d526.14909","name":"Toggle LED East","label":"East Wing","group":"be0be617.24b19","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://east.building6/a/D4 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://east.building6/a/D4 -e 1","offvalueType":"str","officon":"","offcolor":"","x":210,"y":2900,"wires":[["8d378900.614ca8"]]},{"id":"30368caf.8b22e4","type":"exec","z":"ff82d526.14909","command":"coap-client -P 172.16.191.2 -T abcd coap://sensor1.floor1.west.building6/a/A2","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Light, Floor 1, West Wing","x":350,"y":120,"wires":[["e98a22f4.4d98"],[],[]]},{"id":"e98a22f4.4d98","type":"function","z":"ff82d526.14909","name":"Parse coap client output","func":"var str;\n\nvar tmp = msg.payload.split('\\n');\n\ntmp[1] = 1000 - tmp[1];\n\nvar newMsg = { payload: tmp[1] };\nreturn newMsg;","outputs":1,"noerr":0,"x":650,"y":120,"wires":[["90519f33.c83dc8"]]},{"id":"d36a111.b05e97","type":"exec","z":"ff82d526.14909","command":"coap-client -P 172.16.191.2 -T abcd coap://sensor1.floor1.west.building6/a/A1","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Inside Temperature, Floor 1, West Wing","x":350,"y":160,"wires":[["aa883040.909008"],[],[]]},{"id":"aa883040.909008","type":"function","z":"ff82d526.14909","name":"Parse coap client output","func":"var str;\n\nvar tmp = msg.payload.split('\\n');\n\ntmp[1] = 1000 - tmp[1];\n\nvar newMsg = { payload: tmp[1] };\nreturn newMsg;","outputs":1,"noerr":0,"x":650,"y":160,"wires":[["d867513c.36a53"]]},{"id":"341624d9.19bfec","type":"exec","z":"ff82d526.14909","command":"coap-client -P 172.16.191.2 -T abcd coap://sensor1.floor1.west.building6/a/A0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Outside Temperature, Floor 1, West Wing","x":390,"y":200,"wires":[["a82cb2bc.9e77e8"],[],[]]},{"id":"a82cb2bc.9e77e8","type":"function","z":"ff82d526.14909","name":"Parse coap client output","func":"var str;\n\nvar tmp = msg.payload.split('\\n');\n\ntmp[1] = 1000 - tmp[1];\n\nvar newMsg = { payload: tmp[1] };\nreturn newMsg;","outputs":1,"noerr":0,"x":690,"y":200,"wires":[["ab8c1ccc.e0f42"]]},{"id":"90519f33.c83dc8","type":"ui_text","z":"ff82d526.14909","group":"f8054a14.60d12","order":1,"width":0,"height":0,"name":"","label":"Light Level","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":140,"wires":[]},{"id":"d867513c.36a53","type":"ui_text","z":"ff82d526.14909","group":"f8054a14.60d12","order":2,"width":0,"height":0,"name":"","label":"Room Temp.","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":180,"wires":[]},{"id":"b8d8ab50.c91558","type":"ui_button","z":"ff82d526.14909","name":"","group":"f8054a14.60d12","order":8,"width":"3","height":"1","passthru":true,"label":"Refresh","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":100,"y":160,"wires":[["30368caf.8b22e4","d36a111.b05e97","341624d9.19bfec"]]},{"id":"ab8c1ccc.e0f42","type":"ui_text","z":"ff82d526.14909","group":"f8054a14.60d12","order":3,"width":0,"height":0,"name":"","label":"Heater Temp.","format":"{{msg.payload}}","layout":"row-spread","x":900,"y":220,"wires":[]},{"id":"1d31e86e.b60a88","type":"ui_switch","z":"ff82d526.14909","name":"1F/WW LED 1 Toggle","label":"Toggle LED 1","group":"f8054a14.60d12","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor1.west.building6/a/D4 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor1.west.building6/a/D4 -e 1","offvalueType":"str","officon":"","offcolor":"","x":240,"y":320,"wires":[["f6f2acca.a3168","30368caf.8b22e4"]]},{"id":"f6f2acca.a3168","type":"exec","z":"ff82d526.14909","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":570,"y":320,"wires":[[],[],[]]},{"id":"e9b34201.a9f8e8","type":"ui_button","z":"ff82d526.14909","name":"","group":"e6b90f3f.70ce8","order":8,"width":"3","height":"1","passthru":true,"label":"Refresh","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":100,"y":1240,"wires":[["c81d1152.d951f8","36bfe677.a3ac3a","3734dc91.6d53ac"]]},{"id":"f73235fb.f25dc8","type":"exec","z":"ff82d526.14909","command":"coap-client -P 172.16.191.2 -T abcd coap://sensor1.floor3.west.building6/a/A2","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Light, Floor 3, West Wing","x":390,"y":1700,"wires":[["475a718e.3419c8"],[],[]]},{"id":"70ad4267.45caa4","type":"exec","z":"ff82d526.14909","command":"coap-client -P 172.16.191.2 -T abcd coap://sensor1.floor3.west.building6/a/A1","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Inside Temperature, Floor 3, West Wing","x":340,"y":1760,"wires":[["30823ee7.cf8d6a"],[],[]]},{"id":"9f88c5b1.a10708","type":"exec","z":"ff82d526.14909","command":"coap-client -P 172.16.191.2 -T abcd coap://sensor1.floor3.west.building6/a/A0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Outside Temperature, Floor 3, West Wing","x":380,"y":1820,"wires":[["bf589394.00c91"],[],[]]},{"id":"475a718e.3419c8","type":"function","z":"ff82d526.14909","name":"Parse coap client output","func":"var str;\n\nvar tmp = msg.payload.split('\\n');\n\ntmp[1] = 1000 - tmp[1];\n\nvar newMsg = { payload: tmp[1] };\nreturn newMsg;","outputs":1,"noerr":0,"x":670,"y":1700,"wires":[["86230ae8.09aaf8"]]},{"id":"30823ee7.cf8d6a","type":"function","z":"ff82d526.14909","name":"Parse coap client output","func":"var str;\n\nvar tmp = msg.payload.split('\\n');\n\ntmp[1] = 1000 - tmp[1];\n\nvar newMsg = { payload: tmp[1] };\nreturn newMsg;","outputs":1,"noerr":0,"x":650,"y":1740,"wires":[["87483575.e7ed"]]},{"id":"bf589394.00c91","type":"function","z":"ff82d526.14909","name":"Parse coap client output","func":"var str;\n\nvar tmp = msg.payload.split('\\n');\n\ntmp[1] = 1000 - tmp[1];\n\nvar newMsg = { payload: tmp[1] };\nreturn newMsg;","outputs":1,"noerr":0,"x":670,"y":1800,"wires":[["ebcfe1ef.b2fa58"]]},{"id":"28b2bce0.ea1eac","type":"ui_button","z":"ff82d526.14909","name":"","group":"d72cdeec.b135f","order":8,"width":"3","height":"1","passthru":true,"label":"Refresh","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":100,"y":1400,"wires":[["f73235fb.f25dc8","70ad4267.45caa4","9f88c5b1.a10708"]]},{"id":"86230ae8.09aaf8","type":"ui_text","z":"ff82d526.14909","group":"d72cdeec.b135f","order":1,"width":0,"height":0,"name":"","label":"Light Level","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":1700,"wires":[]},{"id":"eb520a37.32698","type":"ui_switch","z":"ff82d526.14909","name":"3F/WW LED 1 Toggle","label":"Toggle LED 1","group":"d72cdeec.b135f","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor3.west.building6/a/D4 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor3.west.building6/a/D4 -e 1","offvalueType":"str","officon":"","offcolor":"","x":280,"y":1940,"wires":[["fd2dd910.0fce","f73235fb.f25dc8"]]},{"id":"fd2dd910.0fce","type":"exec","z":"ff82d526.14909","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":540,"y":1940,"wires":[[],[],[]]},{"id":"ebcfe1ef.b2fa58","type":"ui_text","z":"ff82d526.14909","group":"d72cdeec.b135f","order":3,"width":0,"height":0,"name":"","label":"Heater Temp.","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":1780,"wires":[]},{"id":"87483575.e7ed","type":"ui_text","z":"ff82d526.14909","group":"d72cdeec.b135f","order":2,"width":0,"height":0,"name":"","label":"Room Temp.","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":1740,"wires":[]},{"id":"d4e63429.97dc38","type":"exec","z":"ff82d526.14909","command":"coap-client -P 172.16.191.2 -T abcd coap://sensor1.floor3.east.building6/a/A2","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Light, Floor 3, East Wing","x":410,"y":2180,"wires":[["145e496.07445b7"],[],[]]},{"id":"33d73ee6.c7f572","type":"exec","z":"ff82d526.14909","command":"coap-client -P 172.16.191.2 -T abcd coap://sensor1.floor3.east.building6/a/A1","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Inside Temperature, Floor 3, East Wing","x":360,"y":2240,"wires":[["d086657.e42fd98"],[],[]]},{"id":"331c4642.7d6902","type":"exec","z":"ff82d526.14909","command":"coap-client -P 172.16.191.2 -T abcd coap://sensor1.floor3.east.building6/a/A0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Outside Temperature, Floor 3, East Wing","x":380,"y":2300,"wires":[["c1cffcc7.615d28"],[],[]]},{"id":"145e496.07445b7","type":"function","z":"ff82d526.14909","name":"Parse coap client output","func":"var str;\n\nvar tmp = msg.payload.split('\\n');\n\ntmp[1] = 1000 - tmp[1];\n\nvar newMsg = { payload: tmp[1] };\nreturn newMsg;","outputs":1,"noerr":0,"x":690,"y":2180,"wires":[["a9733c2c.5d5b78"]]},{"id":"d086657.e42fd98","type":"function","z":"ff82d526.14909","name":"Parse coap client output","func":"var str;\n\nvar tmp = msg.payload.split('\\n');\n\ntmp[1] = 1000 - tmp[1];\n\nvar newMsg = { payload: tmp[1] };\nreturn newMsg;","outputs":1,"noerr":0,"x":670,"y":2220,"wires":[["99dbdb4a.804d08"]]},{"id":"c1cffcc7.615d28","type":"function","z":"ff82d526.14909","name":"Parse coap client output","func":"var str;\n\nvar tmp = msg.payload.split('\\n');\n\ntmp[1] = 1000 - tmp[1];\n\nvar newMsg = { payload: tmp[1] };\nreturn newMsg;","outputs":1,"noerr":0,"x":750,"y":2300,"wires":[["eb04737a.3ccbe"]]},{"id":"e8b47b8b.2a2638","type":"ui_button","z":"ff82d526.14909","name":"","group":"2ba1f489.6ae244","order":12,"width":"0","height":"0","passthru":true,"label":"Refresh","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":100,"y":2200,"wires":[["33d73ee6.c7f572","331c4642.7d6902","d4e63429.97dc38"]]},{"id":"a9733c2c.5d5b78","type":"ui_text","z":"ff82d526.14909","group":"2ba1f489.6ae244","order":1,"width":0,"height":0,"name":"","label":"Light Level","format":"{{msg.payload}}","layout":"row-spread","x":900,"y":2180,"wires":[]},{"id":"35f39419.c43764","type":"ui_switch","z":"ff82d526.14909","name":"3F/EW LED 1 Toggle","label":"Toggle LED 1","group":"2ba1f489.6ae244","order":10,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor3.east.building6/a/D4 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor3.east.building6/a/D4 -e 1","offvalueType":"str","officon":"","offcolor":"","x":140,"y":2400,"wires":[["2e0b05d8.c374d2","d4e63429.97dc38"]]},{"id":"2e0b05d8.c374d2","type":"exec","z":"ff82d526.14909","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":470,"y":2460,"wires":[[],[],[]]},{"id":"eb04737a.3ccbe","type":"ui_text","z":"ff82d526.14909","group":"2ba1f489.6ae244","order":3,"width":0,"height":0,"name":"","label":"Heater Temp.","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":2258,"wires":[]},{"id":"99dbdb4a.804d08","type":"ui_text","z":"ff82d526.14909","group":"2ba1f489.6ae244","order":2,"width":0,"height":0,"name":"","label":"Room Temp.","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":2220,"wires":[]},{"id":"c86097a3.8c6bf","type":"exec","z":"20a67e7.8751882","command":"coap-client -s 5000 -P 172.16.191.2 -T abcd1 coap://floor3.west.building6/a/A2","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Light, Floor 3, West Wing, Observe, Proxy 1","x":400,"y":100,"wires":[["33d0fa3e.5f6de6"],[],[]]},{"id":"d36f4c7f.a6f8b8","type":"ui_button","z":"20a67e7.8751882","name":"","group":"b7e5072d.5f2fd8","order":6,"width":"3","height":"1","passthru":true,"label":"Start Observe","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":100,"y":100,"wires":[["c86097a3.8c6bf","c203424b.c27328"]]},{"id":"33d0fa3e.5f6de6","type":"ui_text","z":"20a67e7.8751882","group":"7de3a149.e24cd8","order":1,"width":0,"height":0,"name":"","label":"Light ","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":100,"wires":[]},{"id":"67998cc4.67311c","type":"ui_button","z":"20a67e7.8751882","name":"","group":"b7e5072d.5f2fd8","order":6,"width":"3","height":"1","passthru":true,"label":"Stop Observe","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":100,"y":200,"wires":[["e3b574cc.fd2e18","5a9e13d5.d15a4c"]]},{"id":"c203424b.c27328","type":"exec","z":"20a67e7.8751882","command":"coap-client -s 5000 -P 172.16.192.2 -T abcd2 coap://floor3.west.building6/a/A2","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Light, Floor 3, West Wing, Observe, Proxy 2","x":420,"y":180,"wires":[["3a8a9d00.b6f72c"],[],[]]},{"id":"3a8a9d00.b6f72c","type":"ui_text","z":"20a67e7.8751882","group":"e7d18005.66d388","order":1,"width":0,"height":0,"name":"","label":"Light ","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":160,"wires":[]},{"id":"a589b546.a31e68","type":"exec","z":"20a67e7.8751882","command":"killall coap-client","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":400,"y":300,"wires":[[],[],[]]},{"id":"9472af10.1ce3d","type":"ui_switch","z":"ff82d526.14909","name":"3F/EW LED 2 Toggle","label":"Toggle LED 2","group":"2ba1f489.6ae244","order":11,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor3.east.building6/a/D5 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor3.east.building6/a/D5 -e 1","offvalueType":"str","officon":"","offcolor":"","x":160,"y":2440,"wires":[["2e0b05d8.c374d2","d4e63429.97dc38"]]},{"id":"a3b59856.64722","type":"ui_switch","z":"ff82d526.14909","name":"3F/EW Fan Toggle","label":"Toggle Fan","group":"2ba1f489.6ae244","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor3.east.building6/a/D2 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor3.east.building6/a/D2 -e 1","offvalueType":"str","officon":"","offcolor":"","x":150,"y":2480,"wires":[["2e0b05d8.c374d2"]]},{"id":"8f018eaf.bd4408","type":"ui_switch","z":"ff82d526.14909","name":"Toggle LED Building","label":"Building","group":"39318099.6cc66","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://building6/a/D5 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://building6/a/D5 -e 1","offvalueType":"str","officon":"","offcolor":"","x":460,"y":2820,"wires":[["8d378900.614ca8"]]},{"id":"ab67af0c.fb5a78","type":"ui_switch","z":"ff82d526.14909","name":"Toggle LED Floor 1","label":"Floor 1","group":"39318099.6cc66","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://floor1.building6/a/D5 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://floor1.building6/a/D5 -e 1","offvalueType":"str","officon":"","offcolor":"","x":460,"y":2860,"wires":[["8d378900.614ca8"]]},{"id":"36358ccb.ea635c","type":"ui_switch","z":"ff82d526.14909","name":"Toggle LED Floor 2","label":"Floor 2","group":"39318099.6cc66","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://floor2.building6/a/D5 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://floor2.building6/a/D5 -e 1","offvalueType":"str","officon":"","offcolor":"","x":460,"y":2900,"wires":[["8d378900.614ca8"]]},{"id":"bf4a555.c316928","type":"ui_switch","z":"ff82d526.14909","name":"Toggle LED Floor 3","label":"Floor 3","group":"39318099.6cc66","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://floor3.building6/a/D5 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://floor3.building6/a/D5 -e 1","offvalueType":"str","officon":"","offcolor":"","x":460,"y":2940,"wires":[["8d378900.614ca8"]]},{"id":"7a18b5ff.82f00c","type":"ui_switch","z":"ff82d526.14909","name":"Toggle LED West","label":"West Wing","group":"39318099.6cc66","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://west.building6/a/D5 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://west.building6/a/D5 -e 1","offvalueType":"str","officon":"","offcolor":"","x":450,"y":2980,"wires":[["8d378900.614ca8"]]},{"id":"1ce2c8bf.ef8f27","type":"ui_switch","z":"ff82d526.14909","name":"Toggle LED East","label":"East Wing","group":"39318099.6cc66","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://east.building6/a/D5 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://east.building6/a/D5 -e 1","offvalueType":"str","officon":"","offcolor":"","x":450,"y":3020,"wires":[["8d378900.614ca8"]]},{"id":"d443b9e9.2c60d","type":"ui_switch","z":"ff82d526.14909","name":"3F/EW Heater Toggle","label":"Toggle Heater","group":"2ba1f489.6ae244","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor3.east.building6/a/D3 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor3.east.building6/a/D3 -e 1","offvalueType":"str","officon":"","offcolor":"","x":160,"y":2520,"wires":[["2e0b05d8.c374d2"]]},{"id":"23f73c7e.9d0acc","type":"ui_switch","z":"ff82d526.14909","name":"3F/WW LED 2 Toggle","label":"Toggle LED 2","group":"d72cdeec.b135f","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor3.west.building6/a/D5 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor3.west.building6/a/D5 -e 1","offvalueType":"str","officon":"","offcolor":"","x":280,"y":1980,"wires":[["fd2dd910.0fce","f73235fb.f25dc8"]]},{"id":"c667189b.8d41a","type":"ui_switch","z":"ff82d526.14909","name":"3F/WW Fan Toggle","label":"Toggle Fan","group":"d72cdeec.b135f","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor3.west.building6/a/D2 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor3.west.building6/a/D2 -e 1","offvalueType":"str","officon":"","offcolor":"","x":280,"y":2020,"wires":[["fd2dd910.0fce"]]},{"id":"edaafc84.160da8","type":"ui_switch","z":"ff82d526.14909","name":"3F/WW Heater Toggle","label":"Toggle Heater","group":"d72cdeec.b135f","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor3.west.building6/a/D3 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor3.west.building6/a/D3 -e 1","offvalueType":"str","officon":"","offcolor":"","x":280,"y":2060,"wires":[["fd2dd910.0fce"]]},{"id":"120fb7b2.970448","type":"ui_switch","z":"ff82d526.14909","name":"Toggle Fan Building","label":"Building","group":"e65cfb35.83e0e","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://building6/a/D2 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://building6/a/D2 -e 1","offvalueType":"str","officon":"","offcolor":"","x":740,"y":2820,"wires":[["8d378900.614ca8"]]},{"id":"4fdf2ae1.451c8c","type":"ui_switch","z":"ff82d526.14909","name":"Toggle Fan Floor 1","label":"Floor 1","group":"e65cfb35.83e0e","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://floor1.building6/a/D2 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://floor1.building6/a/D2 -e 1","offvalueType":"str","officon":"","offcolor":"","x":730,"y":2860,"wires":[["8d378900.614ca8"]]},{"id":"791c3c1.9ad6fc4","type":"ui_switch","z":"ff82d526.14909","name":"Toggle Fan Floor 2","label":"Floor 2","group":"e65cfb35.83e0e","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://floor2.building6/a/D2 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://floor2.building6/a/D2 -e 1","offvalueType":"str","officon":"","offcolor":"","x":730,"y":2900,"wires":[["8d378900.614ca8"]]},{"id":"6887202b.baef8","type":"ui_switch","z":"ff82d526.14909","name":"Toggle Fan Floor 3","label":"Floor 3","group":"e65cfb35.83e0e","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://floor3.building6/a/D2 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://floor3.building6/a/D2 -e 1","offvalueType":"str","officon":"","offcolor":"","x":730,"y":2940,"wires":[["8d378900.614ca8"]]},{"id":"405eda39.2a4a6c","type":"ui_switch","z":"ff82d526.14909","name":"Toggle Fan West","label":"West Wing","group":"e65cfb35.83e0e","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://west.building6/a/D2 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://west.building6/a/D2 -e 1","offvalueType":"str","officon":"","offcolor":"","x":730,"y":2980,"wires":[["8d378900.614ca8"]]},{"id":"42aa2cf8.d346cc","type":"ui_switch","z":"ff82d526.14909","name":"Toggle Fan East","label":"East Wing","group":"e65cfb35.83e0e","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://east.building6/a/D2 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://east.building6/a/D2 -e 1","offvalueType":"str","officon":"","offcolor":"","x":730,"y":3020,"wires":[["8d378900.614ca8"]]},{"id":"c81d1152.d951f8","type":"exec","z":"ff82d526.14909","command":"coap-client -P 172.16.191.2 -T abcd coap://sensor1.floor2.east.building6/a/A2","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Light, Floor 2, East Wing","x":490,"y":1260,"wires":[["44dc4158.70b86"],[],[]]},{"id":"36bfe677.a3ac3a","type":"exec","z":"ff82d526.14909","command":"coap-client -P 172.16.191.2 -T abcd coap://sensor1.floor2.east.building6/a/A1","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Inside Temperature, Floor 2, East Wing","x":440,"y":1320,"wires":[["8ba4b2ba.f883d"],[],[]]},{"id":"3734dc91.6d53ac","type":"exec","z":"ff82d526.14909","command":"coap-client -P 172.16.191.2 -T abcd coap://sensor1.floor2.east.building6/a/A0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Outside Temperature, Floor 2, East Wing","x":460,"y":1380,"wires":[["74640a32.01b684"],[],[]]},{"id":"44dc4158.70b86","type":"function","z":"ff82d526.14909","name":"Parse coap client output","func":"var str;\n\nvar tmp = msg.payload.split('\\n');\n\ntmp[1] = 1000 - tmp[1];\n\nvar newMsg = { payload: tmp[1] };\nreturn newMsg;","outputs":1,"noerr":0,"x":770,"y":1260,"wires":[["692b5a7.275ca24"]]},{"id":"8ba4b2ba.f883d","type":"function","z":"ff82d526.14909","name":"Parse coap client output","func":"var str;\n\nvar tmp = msg.payload.split('\\n');\n\ntmp[1] = 1000 - tmp[1];\n\nvar newMsg = { payload: tmp[1] };\nreturn newMsg;","outputs":1,"noerr":0,"x":750,"y":1300,"wires":[["7a084d89.6a3834"]]},{"id":"74640a32.01b684","type":"function","z":"ff82d526.14909","name":"Parse coap client output","func":"var str;\n\nvar tmp = msg.payload.split('\\n');\n\ntmp[1] = 1000 - tmp[1];\n\nvar newMsg = { payload: tmp[1] };\nreturn newMsg;","outputs":1,"noerr":0,"x":770,"y":1360,"wires":[["58f05841.5b54b8"]]},{"id":"692b5a7.275ca24","type":"ui_text","z":"ff82d526.14909","group":"e6b90f3f.70ce8","order":1,"width":0,"height":0,"name":"","label":"Light Level","format":"{{msg.payload}}","layout":"row-spread","x":980,"y":1260,"wires":[]},{"id":"3d06461.8ddd43a","type":"ui_switch","z":"ff82d526.14909","name":"2F/EW LED 1 Toggle","label":"Toggle LED 1","group":"e6b90f3f.70ce8","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor2.east.building6/a/D4 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor2.east.building6/a/D4 -e 1","offvalueType":"str","officon":"","offcolor":"","x":370,"y":1500,"wires":[["c81d1152.d951f8","b15b995e.e3898"]]},{"id":"b15b995e.e3898","type":"exec","z":"ff82d526.14909","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":640,"y":1500,"wires":[[],[],[]]},{"id":"58f05841.5b54b8","type":"ui_text","z":"ff82d526.14909","group":"e6b90f3f.70ce8","order":3,"width":0,"height":0,"name":"","label":"Heater Temp.","format":"{{msg.payload}}","layout":"row-spread","x":980,"y":1340,"wires":[]},{"id":"7a084d89.6a3834","type":"ui_text","z":"ff82d526.14909","group":"e6b90f3f.70ce8","order":2,"width":0,"height":0,"name":"","label":"Room Temp.","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":1300,"wires":[]},{"id":"efbf603.6a8b92","type":"ui_switch","z":"ff82d526.14909","name":"2F/EW LED 2 Toggle","label":"Toggle LED 2","group":"e6b90f3f.70ce8","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor2.east.building6/a/D5 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor2.east.building6/a/D5 -e 1","offvalueType":"str","officon":"","offcolor":"","x":360,"y":1540,"wires":[["b15b995e.e3898"]]},{"id":"53d6f6b7.454a28","type":"ui_switch","z":"ff82d526.14909","name":"2F/EW Fan Toggle","label":"Toggle Fan","group":"e6b90f3f.70ce8","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor2.east.building6/a/D2 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor2.east.building6/a/D2 -e 1","offvalueType":"str","officon":"","offcolor":"","x":350,"y":1580,"wires":[["b15b995e.e3898"]]},{"id":"4519b17d.741c98","type":"ui_switch","z":"ff82d526.14909","name":"2F/EW Heater Toggle","label":"Toggle Heater","group":"e6b90f3f.70ce8","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor2.east.building6/a/D3 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor2.east.building6/a/D3 -e 1","offvalueType":"str","officon":"","offcolor":"","x":360,"y":1620,"wires":[["b15b995e.e3898"]]},{"id":"e03cea96.e9c768","type":"ui_switch","z":"ff82d526.14909","name":"2F/WW LED 2 Toggle","label":"Toggle LED 2","group":"9d4da1e9.3d1308","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor2.west.building6/a/D5 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor2.west.building6/a/D5 -e 1","offvalueType":"str","officon":"","offcolor":"","x":320,"y":1160,"wires":[["dbab8195.783748","31a9de50.bb2d7a"]]},{"id":"fd5dda7f.f0edf","type":"ui_switch","z":"ff82d526.14909","name":"2F/WW Fan Toggle","label":"Toggle Fan","group":"9d4da1e9.3d1308","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor2.west.building6/a/D2 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor2.west.building6/a/D2 -e 1","offvalueType":"str","officon":"","offcolor":"","x":320,"y":1200,"wires":[["dbab8195.783748"]]},{"id":"8cfff40b.239b3","type":"ui_switch","z":"ff82d526.14909","name":"2F/WW Heater Toggle","label":"Toggle Heater","group":"9d4da1e9.3d1308","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor2.west.building6/a/D3 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor2.west.building6/a/D3 -e 1","offvalueType":"str","officon":"","offcolor":"","x":540,"y":1200,"wires":[["dbab8195.783748"]]},{"id":"3d4cb940.12b4be","type":"ui_switch","z":"ff82d526.14909","name":"1F/EW LED 2 Toggle","label":"Toggle LED 2","group":"6ec51810.0404a","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor1.east.building6/a/D5 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor1.east.building6/a/D5 -e 1","offvalueType":"str","officon":"","offcolor":"","x":300,"y":740,"wires":[["ff2cf8f2.ea6d6","a38f5d87.d88de8"]]},{"id":"36755d17.2cfb12","type":"ui_switch","z":"ff82d526.14909","name":"1F/EW Fan Toggle","label":"Toggle Fan","group":"6ec51810.0404a","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor1.east.building6/a/D2 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor1.east.building6/a/D2 -e 1","offvalueType":"str","officon":"","offcolor":"","x":310,"y":780,"wires":[["ff2cf8f2.ea6d6"]]},{"id":"d7eeaf6d.3d0a48","type":"ui_switch","z":"ff82d526.14909","name":"1F/EW Heater Toggle","label":"Toggle Heater","group":"6ec51810.0404a","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor1.east.building6/a/D3 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor1.east.building6/a/D3 -e 1","offvalueType":"str","officon":"","offcolor":"","x":540,"y":780,"wires":[["ff2cf8f2.ea6d6"]]},{"id":"201f748d.1d64bc","type":"ui_switch","z":"ff82d526.14909","name":"1F/WW LED 2 Toggle","label":"Toggle LED 2","group":"f8054a14.60d12","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor1.west.building6/a/D5 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor1.west.building6/a/D5 -e 1","offvalueType":"str","officon":"","offcolor":"","x":300,"y":360,"wires":[["30368caf.8b22e4","f6f2acca.a3168"]]},{"id":"3480491a.f4938e","type":"ui_switch","z":"ff82d526.14909","name":"1F/WW Fan Toggle","label":"Toggle Fan","group":"f8054a14.60d12","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor1.west.building6/a/D2 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor1.west.building6/a/D2 -e 1","offvalueType":"str","officon":"","offcolor":"","x":300,"y":400,"wires":[["f6f2acca.a3168"]]},{"id":"5e6fef68.5209a","type":"ui_switch","z":"ff82d526.14909","name":"1F/WW Heater Toggle","label":"Toggle Heater","group":"f8054a14.60d12","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor1.west.building6/a/D3 -e 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"coap-client -P 172.16.191.2 -m PUT -T abcd coap://sensor1.floor1.west.building6/a/D3 -e 1","offvalueType":"str","officon":"","offcolor":"","x":540,"y":400,"wires":[["f6f2acca.a3168"]]},{"id":"e3b574cc.fd2e18","type":"exec","z":"20a67e7.8751882","command":"coap-client -B 0 -m PUT  -P 172.16.191.2 -T abcd11 coap://floor3.west.building6/a/reboot -e 1","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Reboot the device","x":370,"y":240,"wires":[[],[],[]]},{"id":"5a9e13d5.d15a4c","type":"delay","z":"20a67e7.8751882","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":193.99998474121094,"y":280.49998474121094,"wires":[["a589b546.a31e68"]]}]